* {
    font-family: Arial, Helvetica, sans-serif;
}

.devices {
    padding: 20px;
}

.device {
    background-color: lightblue;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border: 3px solid blue;
    &__list{
        font-size: 18px;
        &_key{
            font-weight: 700;
        }
        &_value {
            font-style: italic;
            li {
                list-style-type: none;                
            }
        }
   }
}
.device-list {
    li {
        display: flex;
        .device-list__item {
            font-weight: 600;
        }
        span{
            display: inline-block;
            
            input{
                background-color: lightblue;
                outline: none; 
                border: none;
            }
        }
    }
}


